.strike{
    text-decoration: line-through;
}

.active{
    color: cornflowerblue;
    box-shadow: 0 0 2px 1px;
}

.viewFilter{
    button{
        margin: 15px;
        height: 20px;
    }
}

.spinner{
    background: url('./img/spinner.gif') no-repeat center;
    position: absolute;
    left: 33%;
    top: 40%;
    width: 350px;
    height: 170px;
    z-index: 9999999999;
}